@import 'tailwindcss';

@theme {
  --color-bg: #ffffff;
  --color-bg-card: #f3f4f6;
  --color-text: #111827;
  --color-text-muted: #6b7280;
}

.dark {
  --color-bg: #111827;
  --color-bg-card: #1f2937;
  --color-text: #f3f4f6;
  --color-text-muted: #9ca3af;
}

/* html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
} */
